protocol=dyndns2                                # default protocol
ssl=yes
use=cmd, cmd='curl https://checkipv4.dedyn.io/'
server=update.dedyn.io
login=greg.dedyn.io
password='you own password'
greg.dedyn.io

