protocol=dyndns2                                # default protocol
ssl=yes
use=cmd, cmd='curl https://checkipv4.dedyn.io/'
server=update.dedyn.io
login=greg.dedyn.io
password='ec9cede1c916f412248d7a439929f5f03a4110de'
greg.dedyn.io

